**/bin/
**/obj/
MatrixRoomUtils/
MatrixRoomUtils.Web/wwwroot/MRU.tar.xz
/src/
*.tar.xz
matrix-sync.json
/patches/
MatrixRoomUtils.Bot/bot_data/
appsettings.Local*.json
appservice.yaml
appservice.json
Tests/LibMatrix.Tests/appsettings.json
